/***********************************************

 Autores: Ignacio Durando - Federico Falcón

***********************************************/

/* ORGANIZAR LAS DECLARACIONES EN BLOQUES*/

/* ESTILOS GENERALES*/

/* ESTILOS DE BARRA DE NAVEGACIÓN */

/* ESTILOS DE ...*/

*{
    margin: 0;
    box-sizing: border-box;
}

#contenedor-general{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


header{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    position: relative;
    align-items: center;
    background: rgb(34,151,195);
    background: linear-gradient(0deg, rgba(34,151,195,1) 0%, rgba(45,98,253,1) 100%);
    color: white;
}
#btn-perfil{
    position: absolute;
    left: 10px;
    
}
#btn-carrito{
    position: absolute;
    right: 10px;
}

#contenedor-central{
    display: flex;
    flex-direction: row;
    width: 100%;
}

main{
    display: flex;
    width: 80%;
    flex-flow: row wrap;
    justify-content: space-around;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    align-items: center;
}

.plantilla-item{
    display: flex;
    margin: 10px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 5%;
}
.plantilla-izq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.plantilla-izq img{
    margin-bottom: 10px;
}
.plantilla-der{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

.barra-secundaria{
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 12%, rgba(186,202,219,1) 100%);

}
.plantilla-secundaria{
    background-image: url(https://img.freepik.com/premium-vector/promo-code-gift-voucher-with-coupon-code-premium-egift-card-e-commerce-online-shopping-marketing_100456-998.jpg?w=2000);
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    margin: 10px;
    margin-left: 14%;
}
button{
    border-radius: 5%;
    background-color: antiquewhite;
    color: #455d7a;
    font-weight: 900;
}
button:hover{
    outline: 2px solid lightskyblue;
    cursor: pointer;
}

.plantilla-izq button{
    border-radius: 5%;
    background-color: #455d7a;
    color: antiquewhite;
    font-weight: 900;
}

.precio{
    font-size: 30px;
    font-weight: 900;
}
.medios-pago{
    color: #455d7a;
    font-weight: 600;
}
.medios-pago:hover{
    cursor: pointer;
}
h3{
    font-size: 18px;
    font-weight: 400;
}





footer{
    width: 100%;
    background-color: #d3d2c3;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 1100px) {
    main{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .barra-secundaria{
        width: 40%;
    }
}
